<body style="font-family: Arial, sans-serif; line-height: 1.6;">
    <h1>Hare Krsna dear devotee,</h1>

    <p>Please accept our humble obeisances. All glories to Srila Prabhupada.</p>

    <p>Thank you for registering for the <strong>Saranagati Retreat</strong> (Feb 23 - Mar 1).</p>

    <p>
        Please reach the <strong>Govardhana Retreat Centre (GRC)</strong> on <strong>Feb 23</strong> to complete your registration 
        between <strong>11AM and 2PM</strong>. Attached is the QR code with the location of the GRC.
    </p>

    <p>Lunch prasada on Feb 23 will be available from <strong>2PM to 3PM</strong>. The opening session will be at <strong>4PM</strong> at the Govardhana Retreat Centre.</p>

    <p>
        All devotees staying at Govardhan Retreat Center are requested to plan their checkout on <strong>March 2</strong> by 
        <strong>10AM</strong> at the latest.
    </p>

    <p>We look forward to serving you at the retreats.</p>

    <p>
        Attached is the basic information manual and the invoice for your payment registration.
    </p>
    <div style="border: 1px solid #ccc; padding: 15px; margin-top: 20px;">
        <h3>Registration Details</h3>
        <p><strong>Transaction Time:</strong> {{transactionTime}}</p>
        <p><strong>Transaction ID:</strong> {{transactionId}}</p>
        <p><strong>Number of People Registered:</strong> {{groupSize}}</p>
        <p><strong>Contributions Breakdown:</strong></p>
        <ul>
            <li>Partial retreat: Rs.{{partialRetreatCharges}}/-</li>
            <li>Accommodation: Rs.{{accommodationCharges}}/-</li>
            <li>Prasad during retreat:Rs.{{foodCharges}}/-</li>
            <li>Lunch on arrival: Rs.{{arrivalLunchCharges}}/-</li>
            <li>Lunch on departure: Rs.{{departureLunchCharges}}/-</li>
            <li>Discount: Rs.{{discount}}/-</li>
            <li>Total: Rs.{{totalCharges}}/-</li>
        </ul>
    </div>


    <p style="margin-top: 40px;">Your servants,</p>
    <p><strong>VIHE Retreats Team</strong></p>
</body>